.navbar {
    margin-bottom: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;    
    background-color: #A3C6C4;
    font-size: 20px;
    font-weight: bold;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;    
    color: #354649;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
 }