/* .footerStyle {
    width: 100%;
    background: #009879;
    color: rgb(239, 232, 216);
    text-align: center;
    font-size: 20px;
    padding: auto;
    margin-top: auto;
    bottom: 0px;
  } */

.footerStyle {
  width: 100%;
  background: #009879;
  color: rgb(239, 232, 216);
  text-align: center;
  font-size: 20px;
  bottom: 0px;
}